@page
@model Library.App.Pages.Books.BorrowModel
@{
    ViewData["Title"] = "Borrow";
}

<form method="post">
    <div class="form-group">
        <label for="select">Select Borrower:</label>
        <select asp-for="NameOfBorrower" class="form-control" id="select">
            @foreach (var borrower in Model.AllBorrowers)
            {
                <option>@borrower</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="@Model.StartDate">Start Date</label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" id="@Model.StartDate" placeholder="Start Date" disabled>
    </div>

    <div class="form-group">
        <label for="@Model.EndDate">End Date</label>
        <input asp-for="EndDate" type="datetime-local" class="form-control" id="@Model.EndDate" placeholder="End Date">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

